# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!example.tfvars
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Azure Functions
function_app/.python_packages/
function_app/bin/
function_app/obj/
local.settings.json

# Build artifacts
*.zip
